*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-color: rgb(231, 225, 227);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#header-pagina-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#nav-pagina-inicial{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav p{
    color:rgb(255, 215, 0);
    margin: auto 20px auto 40px;
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    justify-content: flex-end;
}

#nav-pagina-inicial a{
    color:rgb(255, 215, 0);
    margin: auto 20px auto 40px;
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    justify-content: flex-end;
}

h1,h2{
    color: rgb(255, 215, 0);
}

strong{
    text-transform: uppercase;
}

#produtos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
}

#produtos-nav {
    display: flex;
    flex-direction: row;
}

.footer{
    background-color: black;
    color:rgb(255, 215, 0);
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 5px;
    font-size: 12px;
}

.flex-container{
    display: flex;
    height: 300px;
    justify-content:space-around;
    flex-direction: row;
    padding: 50px 50px 5px 50px;
    font-size: 16px;
}

img {
    max-width: 120px;
}

.flex-container .img {
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    padding-bottom: 5px;
}

.produtos {
    padding: 15px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 22px;
}

.flex-container-produtos {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 5px 0  5px 12px;
    border: black solid 0.1rem;
    border-radius: 0.5rem;
    background-color: black;
    color:white;
    margin: 5px;
}

.descricao {
    width: 120px;
    padding: 10px;
    font-size: 0.85em;
    text-align: center;
}